.body{
    background-color: rgb(218, 248, 141);
    height: 150px;
}

.title{
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 89, 255);
}

.sub-title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.sec{
    color: red;
    font-weight: 600;
}