.calculator {
    width: 300px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
    background: #554f4f;
}

.display {
    font-size: 2rem;
    background: #eee;
    padding: 15px;
    text-align: right;
    margin-bottom: 15px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.equal {
    background-color: orange;
}

.btn {
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

.zero {
    grid-column: span 2;
}